<%- contentFor('HeaderCss') %>
<!-- Daterangepicker css -->
<link rel="stylesheet" href="assets/vendor/daterangepicker/daterangepicker.css">

<!-- Vector Map css -->
<link rel="stylesheet" href="assets/vendor/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10"></link>


<%- contentFor('body') %>

<!-- end row -->


<div class="row mt-5">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="header-title" class="mb-6" style="font-size: 20px;">Unit Of Measure</h1>
                <br>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#top-modal">Add</button>
                <br>
                <br>


                <table id="basic-datatable" class="table table-striped dt-responsive nowrap w-100">
                    <thead>
                        <tr>
                            <th>S NO#</th>
                            <th>Unit</th>
                            <th>Created At</th>
                            <th>Updated At</th>
                            <th>Edit</th>
                           
                        </tr>
                    </thead>
                
                
                    <tbody>
                        <!-- <tr>
                            <td>1</td>
                            <td>KG</td>
                            <td>2023-12-26 13:52:38.547514</td>
                            <td>2023-12-26 13:52:38.547514</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Pounds</td>
                            <td>2023-12-26 13:52:38.547514</td>
                            <td>2023-12-26 13:52:38.547514</td>
                        </tr>
                         -->
                    </tbody>
                </table> 

            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div> <!-- end row-->


<div id="top-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="topModalLabel">Add Unit</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <label for="">Unit</label>
               <input type="text" class="form-control" id="unit_name">
               <input type="hidden" id="hidden" name="" id="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
              
                <button type="button" class="btn btn-primary" onclick="submit()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div

<%- contentFor('FooterJs') %>

<!-- Vector Map js -->
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
var table = new DataTable('#basic-datatable');
$('document').ready(function(){
    fetch();

})

function submit(){

    var update_id = $('#hidden').val();
    if(update_id == ""){
    var form = new FormData();
        form.append("unit", document.getElementById("unit_name").value);
       

        var settings = {
            "url": "/unit",
            "method": "POST",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax({
            ...settings,
            statusCode: {
                200: function(response) {
                    console.log(response);
                    console.log("Request was successful");
                   
                   
                 
                    Swal.fire(
                        'Success!',
                        'Unit Created Successfully',
                        'success'
                    )
                },
            },
            success: function(data) {
                // $('#myModal').reset();
                // Additional success handling if needed
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(xhr)
                Swal.fire(
                    'Server Error!',
                    'User Not Created',
                    'error'
                )
            }
        });
    }
    else{
        var form = new FormData();
    form.append("unit", document.getElementById("unit_name").value);



        var settings = {
            "url": "/unit/" + update_id, // Fixed the URL concatenation
            "method": "PUT",
            "timeout": 0,
            "processData": false,
            "mimeType": "multipart/form-data",
            "contentType": false,
            "data": form
        };

        $.ajax({
            ...settings,
            success: function (data) {
                console.log(data);
                console.log("Request was successful");

                Swal.fire(
                    'Success!',
                    'Unit Updated Successfully',
                    'success'
                );
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr);
                Swal.fire(
                    'Server Error!',
                    'User Not Created',
                    'error'
                );
            }
        });
            }

}

function edit(id){
    $('#top-modal').modal('show');
    $('#hidden').val(id);

}


function fetch(){
var settings = {
    "url": "/unit",
    "method": "GET",
    "timeout": 0,
};

$.ajax(settings).done(function(response) {
    console.log(response);
    table.clear().draw();
    $.each(response, function(index, data) {
        table.row.add([
            index + 1,
            data.unit,
            data.created_at,
            data.updated_at,
            '<button type="button"id="edit" name="edit" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"  onclick="edit(' +
            data.id +
            ')"  class="btn btn-soft-secondary "style="padding:5px 10px;" ><i class="ri ri-pencil-fill font-size-16 align-middle" style="font-size:16px;"></i></button>',
            ]).draw(false);
    });
});
}

</script>
